body {
  margin: 0;
  font-family: Arial;

  background: radial-gradient(circle at top, #0a0f1c, #000000);
  color: white;
}

.container {
  text-align: center;
  padding: 30px;
}

.title {
  font-size: 32px;
  margin-top: 20px;
  color: #cfe9ff;
  text-shadow: 0 0 15px rgba(0, 200, 255, 0.4);
}

.subtitle {
  margin-bottom: 20px;
  color: #7ecbff;
  letter-spacing: 2px;
}

.status {
  text-align: center;
  margin-top: 50px;
  font-size: 18px;
}

.error {
  color: red;
}

.users {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.details {
  width: 280px;
  padding: 18px;
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(12px);

  border: 1px solid rgba(0, 200, 255, 0.2);

  box-shadow:
    0 0 20px rgba(0, 150, 255, 0.15);

  transition: 0.3s ease;
}

.details:hover {
  transform: translateY(-6px);
  box-shadow:
    0 0 25px rgba(0, 200, 255, 0.3);
}

.details h3 {
  color: #ffffff;
  margin-bottom: 8px;
}

.details p {
  color: #bfe6ff;
  font-size: 14px;
}